<div class="video" style="width: 100vw; height:100vh;">
  <video autoplay muted loop playsinline style="width:100%; height:100%; object-fit:cover;">
    <source src="[[ Video Url ]]" type="video/mp4">
  </video>
</div>